.cart_item {
  width: 824px;
  border-top: 1px solid #A7A7A7;
  border-bottom: 1px solid #A7A7A7;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
  margin: -3px -3px 0 0;
  float: left;
}
.wrapper{
  padding: 3px 0 0 3px;
}

.cart_item img {
  width: 192px;
  height: 167px;
  object-fit: contain;
  border-radius: 30px;
}
.title_box{
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.title{
  max-width: 314px;
  color: #3A3A3A;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.54px;
}

.cart_item span {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}
.count_box{
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #000;
  z-index: 2;
}
.count_box p{
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.54px;
  z-index: 4;
}

.count_box button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 18px;
  z-index: 4;

}
.final_price{
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 52px */
  letter-spacing: 1.2px;
 
}
.main_price{
  color: #8B8B8B;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
  letter-spacing: 0.6px;
  text-decoration: line-through;
  text-decoration-skip-ink: auto;
}
