.category_item {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_item a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
}
