.category_item {
  border: 1px solid black;
  width: 300px;
}

.category_item a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
}
.card_img{
  width: 320;
  height: 350;
  object-fit: contain;
}